
doctype  html
html(lang="en")

    head
        meta(charset="UTF-8")  
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name='viewport' content="width=device-width, initial-scale=1.0")  
        title Grow Big   
        link(rel="stylesheet", href="/style.css") 
        img(src="img1.png", alt="")
        
    
    body
        block content
        div(class="logout")
            a(href='/logout') Logout
        div(class="container-main4")
            form(class="sub-container-main4-1 ")
                label(for="NAME" class="lab") Name:&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
                input#NAME(type="text" placeholder="Enter your Name" name = "name"  )
                label(for="BNAME" class="lab") Business Name:        
                input#BNAME(type="text" placeholder="Enter your Business Name" name = "business")
                label(for="EMAIL" class="lab") Email address:&nbsp&nbsp&nbsp 
                input#EMAIL(type="email" placeholder="Enter your email-id" name = "email" )
                label(for="NO" class="lab") Contact Number: 
                input#NO(type="number" placeholder="Enter your phone Number" name = "phone")
                label(for="TA" class="lab") Description:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
                textarea#TA(placeholder="Enter about your business" name = "more" rows = "4" cols = "68") 
                

                div(class="btn2")
                    button( class="BTN" type = "submit" formmethod="POST")  SUBMIT
                    button(class="BTN" type = "reset" formmethod="GET")  RESET              
 

            
            
        
        footer(class="container-main3")
            div(class= "footer")
