doctype  html
html(lang="en")

    head
        meta(charset="UTF-8")  
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name='viewport' content="width=device-width, initial-scale=1.0")  
        title Grow Big   
        link(rel="stylesheet", href="/style.css") 
        
    
    body

        div(class="container-main4")
            form(class="sub-container-main4-1")
                input(type="text" placeholder="Enter your Name" name = "name")
                input(type="text" placeholder="Enter your Business Name" name = "business")
                input(type="email" placeholder="Enter your email-id" name = "email" )
                input(type="number" placeholder="Enter your phone Number" name = "phone")
                textarea(placeholder="Enter about your business" name = "more" rows = "4" cols = "68") 

                
                button(class = "btn" type = "submit" formmethod="POST")  SUBMIT
                button(class = "btn" type = "reset" formmethod="GET")  RESET              
 

            
            
        
        footer(class="container-main3")
         |   This is end
        