doctype  html
html(lang="en")

    head
        meta(charset="UTF-8")  
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name='viewport' content="width=device-width, initial-scale=1.0")  
        title Grow Big   
        link(rel="stylesheet", href="/style.css") 
        


    body
        div(class="main")
            div(class="container-main1")
                h1 Grow Big with Us
            div(class="container-main2")
                    form
                        button(id="btn"  type="submit" formmethod="POST")
                            h1 +
            div(class="Heading")
                h2 Enter your business and experience the growth, Add youir BUSINESS NOW
       
            div(class="data")
                block content
                each docs in data
                    div(class='cards' name="test") 
                        form#UD(method = 'GET'  name = "update")
                            p Name: !{docs.name}
                            p Phone: !{docs.phone}
                            p email: !{docs.email}
                            button(id = "btn", type = "submit"  formaction="/update" name = " !{docs.name}") update
                            //- button( id = "btn", type = "submit", formmethod="POST", formaction="/delete" name="delete") delete
        
        
   
        
    
             
        footer(class="container-main3")
            

    
